* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-color: black;
  padding: 20px;
}

.outer-container {
  background-color: rgb(4, 4, 36);
  padding-inline-start: 40px;
  width: 95vh;
  height: 60vh;
  padding-top: 30px;
  border-radius: 7px;
}

.container {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 10px;
}

.top-grid-container {
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  height: 160px;
  column-gap: 4px;
  width: 500px;
  row-gap: 8px;
}

.top-left {
  background-color: #eb5020;
}

.top-right {
  background-color: #ffa401;
}

.bottom-grid-container {
  display: grid;
  grid-template-columns: 1.5fr 2fr;
  height: 160px;
  column-gap: 10px;
  width: 500px;
  row-gap: 8px;
}

.bottom-left {
  background-color: #05aa42;
}

.bottom-right {
  display: grid;
  grid-template-rows: 1.5fr 2fr;
  height: 160px;
  row-gap: 10px;
}

.top,
.bottom {
  background-color: #01aefd;
}
