body {
  padding-top: 10%;
  padding-left: 30%;
  background-color: rgb(67, 76, 126);
  font-family: Roboto, Arial;
  position: relative;
}

h2 {
  padding-bottom: 20px;
  font-weight: 700;
}

input {
  display: block;
  width: 70%;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
}

input[type="submit"] {
  background-color: black;
  color: white;
  border-radius: 10px;
  border: none;
  font-size: 20px;
  margin-bottom: 50px;
}

footer {
  position: absolute;
  bottom: -150px;
  left: 500px;
}
